.playBoxes{
    width: 100px;
    height: 100px;
    border: 1px solid rgba(45, 38, 38, 0.292);
    background-color: rgba(17, 39, 149, 0.733);
    font-size: xx-large;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bigBox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 320px;
}